{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">

    <div class="col-md-7">
      {% for post in orderPosts|sort %}
      <div class="well col-md-12">
          <h2> {{ post.titre }} </h2>
          <i class="col-md-12">*Publié le {% if post.createAt %}{{ post.createAt|date('d-m-Y') }}{% endif %}{% if post.updateAt %}, Modifié le {{ post.updateAt|date('d-m-Y') }}{% endif %}</i>
          <img class="img-responsive col-md-6 col-md-offset-3" src="{{ asset('assets/img/articles/') ~ post.imageName }}" alt="image article" />
          <p class="col-md-12">{{ post.contenu | length > 200 ? (post.contenu[:200] ~ '...') : post.contenu }}</p>
          <p class="col-md-12"><a href="{{ path('home_show', {id: post.id}) }}">Voir l'artcile</a></p>
        </div>
        {% endfor %}
      </div>


    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Les derniers articles</div>
        {% for orderPost in orderPosts %}
        <div class="panel-body"><a href="{{ path("home_show", {id: orderPost.id}) }}">{{ orderPost.titre }} - {{ orderPost.createAt|date('d-m-Y') }}</a></div>
        {% endfor %}
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">A propos</div>
        <div class="panel-body">
          <p> La nature est tout ce qu'on voit,<br>
            tout ce qu'on veut, tout ce qu'on aime.<br>
            Tout ce qu'on sait, tout ce qu'on croit,<br>
            tout ce que l'on resent en sois même.</p>
          <a class="reseausociaux" href="https://www.facebook.com/sharer/sharer.php?u=google.com">
            <button type="button" name="button" class="facebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Partager
            </button>
          </a>

          <a class="reseausociaux" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%2Fblog-v2-giovani%2F_index.php&ref_src=twsrc%5Etfw&text=Infos%20sport%20%3A&tw_p=tweetbutton&url=https://google.com">
            <button class="twitter" type="button" name="button">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Tweet</button>
          </a>

        </div>
      </div>
  </div>

</div><!--row-->
  </div><!--container-->

</body>

<script src="https://use.fontawesome.com/5ae75527aa.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</html>
{% endblock %}
